<div class="row" ng-app="CiakaronMdl">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="panel" ng-class="registrationForm.name.$error.required || registrationForm.password.$error.required ? 'panel-info' : 'panel-success'">
            <div class="panel-heading">
                Inserisci le tue credenziali
            </div>
            <div class="panel-body">
                <form name="registrationForm" novalidate>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label for="InputName">Username</label>
                            <div class="input-group" ng-class="registrationForm.username.$error.required ? 'has-info' : 'has-success'">
                                <input type="text" class="form-control" name="username" id="InputName" placeholder="Inserisci l'Username" required ng-model="logUser.username">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                            </div>
                            <br/>
                            <label for="InputPassword">Password</label>
                            <div class="input-group" ng-class="registrationForm.password.$error.required ? 'has-info' : 'has-success'">
                                <input type="password" class="form-control" name="password" id="InputName" placeholder="Inserisci il Nome" required ng-model="logUser.password">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                            </div>
                            <br/>
                            <div class="col-md-12">
                                <div class="text-center">{{user.loginMessage}}</div>
                                <br/>
                                <br/>
                            </div>
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="btn btn-block" ng-class="registrationForm.$invalid ? 'btn-info' : 'btn-success'" ng-click="user.login(logUser)" ng-disabled="registrationForm.$invalid">Accedi</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>